# Configuration for Model Training

training:
  epochs: 100
  batch_size:
    cnn: 128
    transformer: 128
  xgboost_search:
    n_jobs: 1 # Number of parallel jobs for RandomizedSearchCV. Use -1 for all CPU cores (careful with GPU memory).

# Example of how to add more parameters
# model_params:
#   cnn:
#     filters: 128
#     kernel_size: 5
#   transformer:
#     embed_dim: 64
#     num_heads: 4
